<div class="nav-filler"></div>

<mat-progress-bar [mode]="loading ? 'indeterminate' : 'determinate'" value="100"></mat-progress-bar>
<nav>
              
        <a routerLink="/">
                <img style="height: 60px;" src="/assets/Dutchcm.png" alt="" srcset="">
        </a>
        <mat-divider></mat-divider>
        <app-menu-item mode="column" style="padding: 1em; width: 100%;" [items]="items"></app-menu-item>

</nav>

