<div class="nav-filler"></div>
<nav>
        <div class="container-fluid"> 
                <div class="row">
                        <div class="col-4">
                                <a routerLink="/">
                                        <img src="/assets/Dutchcm.png" alt="" srcset="">
                                </a>
                        </div>
                        <div class="col-8">
                                <app-menu-item [items]="items"></app-menu-item>
                        </div>
                </div> 
        </div>
        <mat-progress-bar [mode]="loading ? 'indeterminate' : 'determinate'" value="100"></mat-progress-bar>
</nav>

