.nav-filler {
     height: 85px;
}
nav {
     height: 85px; 
     width: 100%; 
     position: fixed;
     z-index: 7;
     background-color: #fff;
     top: 0;
     left: 0;
     > div {
          height: 100%;
     }
     img {
          height: 80px;
          padding-left: 0px;
     }
}