<div class="editor" *ngIf="loaded">
        <div class="title">
                <h3>{{project == null ? "Project aanmaken" : "Project: " + project.name}}</h3>
                <mat-divider></mat-divider>
        </div>
        <form [formGroup]="form">

                <mat-form-field appearance="fill">
                        <mat-label>Naam</mat-label>
                        <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Beschrijving</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Project gedraaid op:</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="assertDate">
                        <mat-hint>dd-mm-yyyy</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Opdrachtgever</mat-label>
                        <input matInput formControlName="client">
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Aannemer</mat-label>
                        <input matInput formControlName="contractor">
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Architect</mat-label>
                        <input matInput formControlName="architect">
                </mat-form-field>
        </form>

        <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">submit</button>
</div>
