.tile-container {
        cursor: pointer;
        > .image {
                border-top: solid 2px #000000;
                border-bottom: solid 2px #000000;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/assets/header.jpg");
                width: 100%;
                height: 100%;
        }
        > .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($color: #000020, $alpha: 0.75);;
                z-index: 1;
                transition: 250ms;
        }
        > h1 {
                color: #fff;
                position: relative;
                z-index: 4;
                font-size: 2em;
                letter-spacing: 0.2em;
                transition: 200ms;
        }
}

.tile-container:hover {
        > div {
                background-color: rgba($color: #000020, $alpha: 0.35);
        }
        > h1 {
                color: #fff;
        }
}