<mat-grid-list cols="1" rowHeight="19.4vh" gutterSize="0px">
        <mat-grid-tile (click)="onNavigate('https://balustrade-online.nl/', true)">
                <div class="tile-container">
                        <div class="image" style="background-image: url('/assets/Primaire-banner-Desktop.png');"></div>
                        <div class="overlay"></div>
                        <h1>Webshop</h1>
                </div>
        </mat-grid-tile>
        <mat-grid-tile (click)="onNavigate('/producten')">
                <div class="tile-container">
                        <div class="image"></div>
                        <div class="overlay"></div>
                        <h1>Producten</h1>
                </div>
        </mat-grid-tile>
        <mat-grid-tile (click)="onNavigate('/projecten')">
                <div class="tile-container">
                        <div class="image" style="background-image: url('/assets/1562055554-project.jpg');"></div>
                        <div class="overlay"></div>
                        <h1>Projecten</h1>
                </div>
        </mat-grid-tile>
        <mat-grid-tile (click)="onNavigate('/contact')">
                <div class="tile-container">
                        <div class="image" style="background-image: url(https://balustrade-online.nl/wp-content/uploads/2021/05/Tussen-Banner-homepage-1324x479.jpg);"></div>
                        <div class="overlay"></div>
                        <h1>Contact</h1>
                </div>
        </mat-grid-tile>

</mat-grid-list>
