<footer>
        <mat-progress-bar [mode]="loading ? 'indeterminate' : 'determinate'" value="100"></mat-progress-bar>
        <div class="services" *ngIf="showService">
                <div class="container">
                        <div class="row">
                                <div class="col-3">
                                        <mat-icon class="icon" aria-hidden="false" fontIcon="schedule"></mat-icon>
                                        <h3>Snelle Levertijd</h3>
                                </div>
                                <div class="col-3">
                                        <mat-icon class="icon" aria-hidden="false" fontIcon="directions_car"></mat-icon>
                                        <h3>Gratis Afhalen</h3>
                                </div>
                                <div class="col-3">
                                        <mat-icon class="icon" aria-hidden="false" fontIcon="build"></mat-icon>
                                        <h3>Montage Service</h3>
                                </div>
                                <div class="col-3">
                                        <mat-icon class="icon" aria-hidden="false" fontIcon="how_to_reg"></mat-icon>
                                        <h3>Klantvriendelijk</h3>
                                </div>
                        </div>
                </div>
                
        </div>
        <div class="contact" *ngIf="showContact">
                <div class="container">
                        <div class="contact-just">
                                <div>
                                        <mat-icon class="icon" aria-hidden="false" fontIcon="call"></mat-icon>
                                        <a href="tel:+31348743813" class="text-white"> +31 (0)348 743813</a>
                                </div>
                                <div>
                                        <mat-icon class="icon" aria-hidden="false" fontIcon="mail"></mat-icon>
                                        <a class="text-white" href="mailto:info@dutchcm.com"> info@dutchcm.com</a>
                                </div>
                        </div>
                </div>
        </div>
        <div class="social" *ngIf="showSocial">
                <div class="container-fluid">
                        <div class="row">
                                <div class="col-12">
                                </div>
                        </div>
                </div>
        </div>
</footer>