footer {
        background-color: #fff;    
        .services {
                width: 100%;
                height: 150px;
                background-image: url("/assets/texture.png");
                display: flex;
                align-items: center;
               
                .icon {
                        display: block;
                        margin: auto;
                        align-self: center;
                        transform: scale(1.8);
                        margin-bottom: 30px;
                        color: #444;
                }
                h3 {
                        font-size: 1.2em;
                        text-align: center;
                        color: #444;
                }
        }
        .contact {
                background-color: #3f51b5;
                height: 30px;
                > div {
                        height: 100%;
                }
                .contact-just {
                        display: flex;
                        justify-content: space-between;
                        height: 100%;
                        > div {
                                height: 100%;
                                display: flex;
                                align-items: center;
                        }
                }
                * {
                        font-size: .9rem;
                        text-decoration: none
                }
                .icon {
                        font-size: 1.5rem;
                        color: #fff;
                        margin-right: 5px;
                }
        } 
        .social {
                height: 60px;
                background-color: #343a40 !important;
        }
}