<div [style]="'flex-direction:' + mode">
        <ng-container *ngFor="let item of items">
                <ng-container *ngIf="item.items != null else noSubItems">
                        <button [style]="style" mat-button [matMenuTriggerFor]="menu">{{item.name}}</button>
                        <mat-menu #menu="matMenu">
                                <ng-container matMenuContent *ngFor="let subItem of item.items">
                                        <button mat-menu-item [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: subItem.exact}" >{{subItem.name}}</button>
                                </ng-container>
                        </mat-menu>
                </ng-container>

                <ng-template #noSubItems>
                        <button [style]="style" mat-button [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.exact}" >{{item.name}}</button>
                </ng-template>
        </ng-container>
</div>