div {
        height: 100%;
        display: flex;
        align-items: center;
        button {
                flex: 1;
                margin-right: 1em;
        }

        * {
                color: #aaa!important;
        }
        .active {
                color: #fff!important;
                background-color: #3f51b5;                ;
        }
}