.sub-container {
        width: 100%;
        height: 100%;
        mat-drawer{
                min-width: 250px;
                width: 20vw;
                max-width: 400px;
        }

        .search {
                mat-form-field {
                        width: 100%;
                }
                ::ng-deep .mat-mdc-form-field-bottom-align {
                        display: none!important;
                }
        }

        .item-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                cursor: pointer;
                border-bottom: 1px solid #eee;
                app-image-container {
                        height: 100%;
                        width: 100%;
                }

                > .overlayer {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #000080;
                        z-index: 1;
                        opacity: 0.2;
                        transition: 250ms;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      
                }
                > .text {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        font-size: 20px;
                        color: #fff;
                        background-color: #444;
                        opacity: 0.8;
                        transition: 250ms;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-shadow: 4px 4px 4px #444;
                        padding: 0.2em 1em;
                }
        }
        .active {
                background-color: #ddd;

                > .overlayer {
                        opacity: 0.8;
                        background-color: #000080;
                }
                .text {
                        opacity: 0.5;
                }
        }

        .add {
                background-color: #3f51b5;
                color: #fff;
                * {
                        transform: scale(3);
                }
                transition: 250ms;
        }

        .add.active {
                background-color: #444;
                color: #fff;
        }

        .add:hover {
                background-color: #bbb;
                color: #fff;
        }


        .item-container:hover {
                > .overlayer  {
                        opacity: 0.1;
                }
        }
}