<mat-drawer-container class="sub-container">
        <mat-drawer mode="side" opened>
                <form class="search" [formGroup]="searchForm">
                        <mat-form-field appearance="fill">
                                <mat-label>Zoeken in {{url}}</mat-label>
                                <input (keyup)="onSearch(search.value)" formControlName="search" #search matInput >
                        </mat-form-field>
                </form>
                <mat-grid-list cols="1" rowHeight="20vh" gutterSize="0px">
                        <mat-grid-tile (click)="onCreate()">
                                <div class="item-container add" [routerLink]="'/admin/'+ url + '/add'" routerLinkActive="active">
                                        <mat-icon>add</mat-icon>
                                </div>
                                <mat-divider></mat-divider>
                        </mat-grid-tile>
                        <ng-container *ngFor="let item of items">
                                <mat-grid-tile (click)="onClick(item.id)">
                                        <div [id]="item.id" class="item-container" [routerLink]="[item.id]" routerLinkActive="active">
                                                <ng-container *ngIf="item.imageId != null else noImage">
                                                        <app-image-container fit="cover" [id]="item.imageId"></app-image-container>
                                                        <div class="overlayer">
                                                                
                                                        </div>
                                                        <div class="text">
                                                                <h6>{{item.title}}</h6>
                                                        </div>
                                                      
                                                </ng-container>
                                                <ng-template #noImage>
                                                        <div class="overlayer">
                                                                
                                                        </div>
                                                        <div class="text">
                                                                <h6>{{item.title}}</h6>
                                                        </div>
                                                </ng-template>
                                        </div>
                                        <mat-divider></mat-divider>
                                </mat-grid-tile>
                        </ng-container>
                </mat-grid-list>
        </mat-drawer>
        <mat-drawer-content>
                <router-outlet></router-outlet>
        </mat-drawer-content>
</mat-drawer-container>