<div class="header">
        <h3>{{searchType.name}}</h3>
</div>

<div class="info">
        <div class="container-fluid">
                <ng-container *ngFor="let item of searchType.lines">
                        <div class="row">
                                <mat-divider></mat-divider>
                                <div class="col-6">
                                        <h5>
                                                {{item.name}}
                                        </h5>
                                       
                                </div>
                                <div class="col-6">
                                        <button mat-flat-button color="primary" [routerLink]="[item.id, 'wijzigen']">Wijzigen</button>
                                        <button mat-flat-button color="warn" (click)="onDeleteSearchTypeLine(item.id)" >Verwijderen</button>
                                </div>
                               
                                <mat-divider></mat-divider>
                        </div>
                </ng-container>
                <div class="row">
                        <mat-divider></mat-divider>
                        <div class="col-6">
                                <form [formGroup]="form">

                                        <mat-form-field appearance="fill">
                                                <mat-label>Naam</mat-label>
                                                <input matInput formControlName="name">
                                        </mat-form-field>
                                </form>
                               
                        </div>
                        <div class="col-6">
                                <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">toevoegen</button>
                        </div>
                       
                        <mat-divider></mat-divider>
                </div>
        </div>
</div>

<div class="actions">
        <button mat-flat-button color="primary" [routerLink]="['wijzigen']">Wijzigen</button>
        <button mat-flat-button color="warn" [disabled]="searchType.lines.length > 0" (click)="onDeleteSearchType(searchType.id)">Verwijderen</button>
</div>