.header {
        padding: 1em;
        background-color: #444;
        * {
                color: #fff;
        }
}

.info {
        padding: 1em;
        h5, form {
                padding-top: 1em;
                padding-bottom: 1em;
        }
        button {
                margin-top: 1em;
                margin-bottom: 1em;
                margin-right: 1em;
        }
        mat-form-field {
                width: 100%;
        }
}

.actions {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        background-color: #444;
        * {
                color: #fff;
        }
}