<div *ngIf="pageResults.pageCount > 1">
        <div class="divider">
                <mat-divider></mat-divider>
        </div>
        <div class="container">
                <ng-container *ngFor="let page of pages">
                        <button mat-flat-button (click)="onClickEvent(page)" [color]="page == pageResults.currentPage ? 'primary' : ''">{{page}}</button>
                </ng-container>
        </div>
        <div class="divider">
                <mat-divider></mat-divider>
        </div>
</div>