<form [formGroup]="form">
        <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
                <mat-label>Wachtwoord</mat-label>
                <input type="password" matInput formControlName="password">
        </mat-form-field>

        <button [disabled]="form.invalid" mat-flat-button color="primary">Inloggen</button>
</form>
   