.header {
        padding: 1em;
        background-color: #444;
        * {
                color: #fff;
        }
}
.imageForm {
        padding: 1em;
        background-color: #444;
}
.info {
        padding: 1em;
}

.actions {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        background-color: #444;
        * {
                color: #fff;
        }
}

.photos {
        background-color: #aaa;
        app-image-container {
                height: 100%;
                width: 100%;
        }
        mat-grid-tile {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .overlayer {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        background-color: rgb(255, 0, 0);
                        opacity: 0;
                        transition: 250ms;
                }
                mat-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        transform: scale(1);
                        color: #fff;
                        opacity: 0;
                        transition: 250ms;
                }
        }

        mat-grid-tile:hover {
                .overlayer, mat-icon {
                        opacity: .5;
                }
        }
}