<div class="header">
        <h3>{{project.name}}</h3>
</div>
<app-image-container *ngIf="loaded" height="50vh" width="100%" fit="cover" [id]="project.coverImageId"></app-image-container>
<form class="imageForm" *ngIf="loaded" [formGroup]="imageForm">
        <div class="container">
                <div class="row">
                        <div class="col-lg-6 col-md-12">
                                <button (click)="i.click()" mat-flat-button color="primary">Nieuwe cover foto selecteren</button>
                                <input (change)="onCoverImageChange($event)" hidden="true" type="file" #i formControlName="file">
                        </div>
                        <div class="col-lg-6 col-md-12">
                                <button mat-flat-button color="" [disabled]="imageForm.invalid" (click)="onImageSubmit()" >Versturen</button>
                        </div>
                </div>
        </div>
</form>

<div class="info">
        <p>
                <b>Opdrachtgever:</b> {{project.client}}
       </p>
       <p>
                <b>Aannemer:</b> {{project.contractor}}
       </p>
       <p>
                <b>Architect:</b> {{project.architect}}
       </p>
       <p>
                {{project.description   }}
       </p>
</div>

<div class="actions">
        <div class="container">
                <div class="row">
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="primary" (click)="j.click()" >Nieuw foto toevoegen</button>
                                <input (change)="onImageChange($event)" hidden="true" type="file" #j>
                        </div>
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="primary" [routerLink]="['wijzigen']">Wijzigen</button>
                        </div>
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="warn">Verwijderen</button>
                        </div>
                </div>
        </div>        
</div>

<div class="photos">
        <mat-grid-list [cols]="columns" rowHeight="20vh" gutterSize="0px">
                <ng-container *ngFor="let imageId of project.imageIds">
                        <mat-grid-tile (click)="onDeleteImage(imageId)">
                                <app-image-container *ngIf="loaded" height="100%" width="100%" fit="cover" [id]="imageId"></app-image-container>
                                <div class="overlayer">
                                
                                </div>
                                <mat-icon>delete</mat-icon>
                        </mat-grid-tile>
                </ng-container>
                
        </mat-grid-list>
</div>