.admin-container {
        width: 100%;
        height: 100%;
        mat-drawer{
                min-width: 250px;
                width: 20vw;
                max-width: 400px;
                padding: 2em;
        }
}