<div class="editor" *ngIf="loaded">
        <div class="title">
                <h3>{{searchType == null ? "Zoekterm aanmaken" : "Zoekterm: " + searchType.name}}</h3>
                <mat-divider></mat-divider>
        </div>
        <form [formGroup]="form">

                <mat-form-field appearance="fill">
                        <mat-label>Naam</mat-label>
                        <input matInput formControlName="name">
                </mat-form-field>
        </form>

        <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">submit</button>
</div>
