<main>
        <app-navigation></app-navigation>
        
        <div>
                <router-outlet></router-outlet>
        </div>
        

        <app-footer [showService]="false"></app-footer>
</main>
