.image-canvas {
        display: flex;
        justify-content: space-around;
        align-items: center;
        mat-spinner {
                position: absolute;
                z-index: 3;
        }
        .underlay {
                background-color: #ddd;
                height: 100%;
                width: 100%;
                object-fit: contain;
                z-index: 1;
                background-size: cover;
        }
        .image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
        }
}