.header {
        padding: 1em;
        background-color: #444;
        * {
                color: #fff;
        }
}
.imageForm {
        padding: 1em;
        background-color: #444;
}
.info {
        padding: 1em;
}

.actions {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        background-color: #444;
        * {
                color: #fff;
        }
}

.variants {
        background-color: #aaa;
       > div {
                padding: 1em;
                background-color: #444;
                * {
                        color: #fff;
                }
       }
       .item-container {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transition: 250ms;
                app-image-container {
                        width: 100%;
                        height: 100%;
                }
                .overlayer {
                        background-color: #000080;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        transition: 250ms;
                        opacity: 0.8;
                }
                .text {
                        background-color: #444;
                        position: absolute;
                        padding: .2em 1em;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        * {
                                color: #fff;
                        }
                        transition: 250ms;
                        opacity: 0.9;
                }
       }
        .item-container:hover {
                .overlayer {
                        opacity: 0.2;
                }
                .text {
                        opacity: 0.5;
                }
        }
        .add {
                background-color: #3f51b5;
                * {
                        transform: scale(2);
                        color: #fff;
                }
        }
        .add:hover {
                background-color: #bbb;
                * {
                        transform: scale(2);
                        color: #888;
                }
        }
}
.photos {
        background-color: #aaa;
        app-image-container {
                height: 100%;
                width: 100%;
        }
        mat-grid-tile {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .overlayer {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        background-color: rgb(255, 0, 0);
                        opacity: 0;
                        transition: 250ms;
                }
                mat-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        transform: scale(1);
                        color: #fff;
                        opacity: 0;
                        transition: 250ms;
                }
        }

        mat-grid-tile:hover {
                .overlayer, mat-icon {
                        opacity: .5;
                }
        }
}