<div class="header">
        <div>
                <h3>{{product.name}}</h3>
        </div>
       <div>
                <button *ngIf="!product.isMain" mat-flat-button color="primary" [routerLink]="['../']">Terug</button>
       </div>
</div>
<app-image-container *ngIf="loaded" height="50vh" width="100%" fit="cover" [id]="product.coverImageId"></app-image-container>
<form class="imageForm" *ngIf="loaded" [formGroup]="imageForm">
        <div class="container">
                <div class="row">
                        <div class="col-lg-6 col-md-12">
                                <button (click)="i.click()" mat-flat-button color="primary">Nieuwe cover foto selecteren</button>
                                <input (change)="onCoverImageChange($event)" hidden="true" type="file" #i formControlName="file">
                        </div>
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="" [disabled]="imageForm.invalid" (click)="onImageSubmit()" >Versturen</button>
                        </div>
                </div>
        </div>
</form>

<div class="info">
       <p>
                {{product.description}}
       </p>
</div>

<div class="variants" *ngIf="product.isMain">
        <div>
                <h5>Varianten</h5>
        </div>
        <mat-grid-list [cols]="columns" rowHeight="20vh" gutterSize="0px">
                <mat-grid-tile>
                        <div class="item-container add" [routerLink]="['add']" routerLinkActive="active">
                                <mat-icon>add</mat-icon>
                        </div>
                        <mat-divider></mat-divider>
                </mat-grid-tile>
                <ng-container *ngFor="let productline of product.products">
                        <mat-grid-tile>
                                <div [id]="productline.id" class="item-container" [routerLink]="[productline.id]" routerLinkActive="active">
                                        <ng-container *ngIf="productline.coverImageId != null else noImage">
                                                <app-image-container fit="cover" [id]="productline.coverImageId"></app-image-container>
                                                <div class="overlayer">
                                                        
                                                </div>
                                                <div class="text">
                                                        <h6>{{productline.name}}</h6>
                                                </div>
                                        
                                        </ng-container>
                                        <ng-template #noImage>
                                                <div class="overlayer">
                                                        
                                                </div>
                                                <div class="text">
                                                        <h6>{{productline.name}}</h6>
                                                </div>
                                        </ng-template>
                                </div>
                                <mat-divider></mat-divider>
                        </mat-grid-tile>
                </ng-container>
        </mat-grid-list>
</div>


<div class="actions">
        <div class="container">
                <div class="row">
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="primary" (click)="j.click()" >Nieuw foto toevoegen</button>
                                <input (change)="onImageChange($event)" hidden="true" type="file" #j>
                        </div>
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="primary" [routerLink]="['wijzigen']">Wijzigen</button>
                        </div>
                        <div class="col-lg-4 col-md-12">
                                <button mat-flat-button color="warn" [disabled]="product.products.length > 0">Verwijderen</button>
                        </div>
                </div>
        </div>
</div>

<div class="photos">
        <mat-grid-list [cols]="columns" rowHeight="20vh" gutterSize="0px">
                <ng-container *ngFor="let imageId of product.imageIds">
                        <mat-grid-tile (click)="onDeleteImage(imageId)">
                                <app-image-container *ngIf="loaded" height="100%" width="100%" fit="cover" [id]="imageId"></app-image-container>
                                <div class="overlayer">
                                
                                </div>
                                <mat-icon>delete</mat-icon>
                        </mat-grid-tile>
                </ng-container>
                
        </mat-grid-list>
</div>