<div class="editor" *ngIf="loaded">
        <div class="title">
                <h3>{{product == null ? "Product aanmaken" : "Product: " + product.name}}</h3>
                <button *ngIf="form.value.productId != null" mat-flat-button style="margin: 1em;" color="primary" [routerLink]="['../']">Terug</button>
                <mat-divider></mat-divider>
        </div>
        <form [formGroup]="form">

                <mat-form-field appearance="fill">
                        <mat-label>Naam</mat-label>
                        <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Beschrijving</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Specificaties</mat-label>
                        <textarea matInput formControlName="specifications"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>Zoektermen</mat-label>
                        <mat-select formControlName="searchTypes" multiple>
                                <mat-optgroup *ngFor="let group of searchTypes" [label]="group.name"
                                        [disabled]="group.disabled">
                                        <mat-option *ngFor="let line of group.lines" [value]="line.id">
                                                {{line.name}}
                                        </mat-option>
                                </mat-optgroup>
                        </mat-select>
                </mat-form-field>
        </form>

        <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">submit</button>
</div>
