<div style="height: 50px;">

</div>
<div class="container" *ngIf="loaded" >
        <ng-container  *ngFor="let project of projectPagedResult.results; let i = index">
                <div class="row">
                        <ng-container *ngIf="i % 2 == 0 else odd">
                                <ng-template [ngTemplateOutlet]="image"></ng-template>
                                <ng-template [ngTemplateOutlet]="text"></ng-template>
                        </ng-container>
                        <ng-template #odd>
                                <ng-template [ngTemplateOutlet]="text"></ng-template>
                                <ng-template [ngTemplateOutlet]="image"></ng-template>
                        </ng-template>
                </div>

                <ng-template #image>
                        <div class="col-6 image">
                                <app-image-container fit="cover" [height]="'450px'" [width]="'100%'"[id]="project.coverImageId"></app-image-container>
                        </div>
                </ng-template>

                <ng-template #text>
                        <div class="col-6 text">
                               <h3>
                                {{project.name}}
                               </h3>
                               <mat-divider style="margin-bottom: 1em;"></mat-divider>
                               <p>
                                        <b>Opdrachtgever:</b> {{project.client}}
                               </p>
                               <p>
                                        <b>Aannemer:</b> {{project.contractor}}
                               </p>
                               <p>
                                        <b>Architect:</b> {{project.architect}}
                               </p>
                               <p>
                                        {{project.description   }}
                               </p>
                               
                        </div>
                </ng-template>
        </ng-container>
        <app-paginator (getPage)="onPageChange($event)" [pageResults]="projectPagedResult"></app-paginator>
</div>


<div style="height: 50px;">

</div>

