main {
        display: flex;
        height: 100%;
        .background {
                flex: 8;
                background-image: url("/assets/bos.jpg");
                background-repeat: no-repeat;
                background-size: cover;
        }
        .side {
                flex: 4;
                max-width: 450px;
                height: 100%;
                display: flex;
                flex-direction: column;
                > div {
                       
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        h3 {
                                padding-top: 0.5em;
                                padding-bottom: 0.5em;
                                background-color: #343a40;
                                color: #fff;
                        }
                        * {
                                text-align: center;
                                width: 100%;
                        }
                        > div {
                                margin-top: 1em;
                        }
                }
        }
}