<main>
       
        <div class="background">

        </div>
        <div class="side">
                <div>
                        <h3>Admin Paneel</h3>
                        <div>
                                <router-outlet></router-outlet>
                        </div>
                       
                </div>
        </div>
</main>

