<div class="main">     
        <mat-drawer-container class="product-container">
                <mat-drawer mode="side" opened>
                        <article>
                        <ng-container *ngFor="let item of items">
                                <h6>{{item.name}}</h6>
                                <mat-divider style="padding-bottom: 0.5em;"></mat-divider>
                                <div style="padding-bottom: 1em;">
                                        <ng-container *ngFor="let subItem of item.lines">
                                                <div>
                                                        <mat-checkbox #c color="primary" (click)="onToggle(subItem.id, c.checked)" [checked]="checkedItems.includes(subItem.id)"><p>{{subItem.name}}</p></mat-checkbox>
                                                </div>
                                        </ng-container>
                                </div>
                        </ng-container>
                        </article>
                </mat-drawer>
                <mat-drawer-content>
                        <div *ngIf="loaded" class="containe">
                                <mat-grid-list [cols]="columns" rowHeight="25vh" gutterSize="2em">
                                        <ng-container *ngFor="let product of productsPageResults.results">
                                                <mat-grid-tile>
                                                        <div class="product-canvas">
                                                                <div class="image">
                                                                        <app-image-container fit="cover" [id]="product.coverImageId"></app-image-container>
                                                                </div>
                                                                <div class="text">
                                                                        <h5>{{product.name}}</h5>
                                                                </div>
                                                        </div>
                                                </mat-grid-tile>
                                        </ng-container>
                                </mat-grid-list>
                                <app-paginator (getPage)="onPageChange($event)" [pageResults]="productsPageResults"></app-paginator>
                        </div>
                </mat-drawer-content>
        </mat-drawer-container>
</div>   