.product-container {
        display: flex;
        width: 100%;
        height: 100%;
        > mat-drawer {
                padding: 1.5em;
                min-width: 250px;
                overflow-y: auto;
        }
        > mat-drawer-content {
                flex: 1;
                padding: 1.5em!important;
                height: 100%;
                overflow-y: auto;
        }
}

.main {
        height: calc(100% - 0px);
        max-width: 100vw;
}


.product-canvas {
        cursor: pointer;
        background-color: #aaa;
        height: 100%;
        width: 100%;
        > .image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: 250ms;
                opacity: 0.5;
        }
        .text {
                background-color: #3f51b5;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: .1em;
                z-index: 1;
                * {
                        text-align: center;
                        display: block;
                        color: #fff;
                }
        }
}

.product-canvas:hover {
        .image {
                opacity: 0.9;
        }
}